# MultiViewsオプションを無効にして、mod_rewriteとの衝突を防ぐ
Options -MultiViews

# シンボリックリンクを追跡する（サーバー設定によってはこちらが必要な場合がある）
Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /blog/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]
</IfModule>